
/*-------Tag selector------*/
body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-size: 5.625rem;
  color: #708160;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', serif;
}
h2{
  font-size: 2.5rem;
  color: #708160;
  font-family: 'Montserrat', sans-serif;
}
h3{
  color: #dd7631;
  font-family: 'Montserrat', sans-serif;
}
hr{
  border-style: none;
  border: dotted #dd7631 6px ;
  border-bottom: none;
  width:4%;
  margin: 100px auto;
}
p{
  line-height: 2;

}
a{
  color: #bb3b0e;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #d8c593;
}

/*-------Class selector------*/
.skill-row{
  width:50%;
  margin: 100px auto 100px;
  text-align: left;
}
.skills-img{
  margin-right: 30px;
  float: left;
  width:25%;
}
.coding-img{
  margin-left: 30px;
  float: right;
  width:25%;
}
.profile-description{
  width: 30%;
  margin: 5% auto;
}
.normal{
font-weight: normal;
}

.bottom-cloud{
  position: absolute;
  left:250px;
  bottom:300px;
}
.middle-container{
margin: 100px 0;
}
.bottom-container{
  position: relative;
  padding-top:60px;
  height: 100px;
  background-color: #708160;
  margin-top: 80px;
}
.size{
  height:150px;
  width:150px;
}
.contact-description{
  margin: 50px;
}

.Topcontainer {
  background-color:#d8c593;
  position: relative;
  padding-top:100px;
}
.top-cloud{
  position:absolute;
  right:300px;
  top:40px;
}
.copyright{
  color: #d8c593;
  font-size: 0.75rem;
  margin-top: 40px;
}
.btn{
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #D8C593;
   font-family: Verdana;
   font-size: 31px;
   font-weight: 100;
   padding: 27px;
   background-color: #708160;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #708160 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
